<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Vue 方式</h1>
    <div id="root"></div>
    <a href="1.html" target="_self">问题1</a><br>
    <a href="question_2.html" target="_self">问题2（Jquery方式）</a>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</body>
<script id="template" type="x-template">
    <div  >
        <select 
            v-for=" n in selectCount"
            v-on:change="setValue(n-1,$event)"
        >
            <option value="" v-bind:selected ="!selectedArr[n-1]">请选择</option>
            <option 
                v-for="item in list"
                v-if="selectedArr.indexOf(item) == -1 || item == selectedArr[n-1]"
                v-bind:value="item" 
                v-bind:selected="item == selectedArr[n-1]" 
                
            >{{item}}{{console.log(item,selectedArr[n])}}</option>
        </select>
    </div>
</script>
<script>
    var app = new Vue({
        template:'#template',
        data:function(){
            return{
                list:[1,2,3,4,5,6,7,8,9,10],
                selectCount:3,
                selectedArr:[null,null,null]
            }   
        },
        methods:{
            setValue:function(n,$event){
                var index = $event.target.selectedIndex;
                var value = $event.target.options[index].value;
                this.selectedArr.splice(n,1,Number(value))
                
            }
        }
    });
    app.$mount('#root')


</script>
</html>